@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0, 0;
  --foreground: 225,225,225;

  --border: 36, 36, 36;
  --tag: 41, 41, 41;

  --primary: 52, 85, 139;
  --secondary: 200, 57, 57;
  --primaryText: 255, 255, 255;
  --secondaryText: 154, 154, 154;

  background: rgba(var(--background));
  color: rgba(var(--foreground));
}
